.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    grid-column: span 1;
    background: linear-gradient(to right, #000428, #004e92);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.03);
}

.icon {
    max-width: 55%;
}