.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    grid-column: span 1;
    background-color: #f07c19;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    aspect-ratio: 1;
}

.container:hover {
    transform: scale(1.03);
}

.icon {
    max-width: 50%;
    margin: 2rem;
}