.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c053a9c; /* Fondo en modo claro */
    /* dark-mode: #af72ff56; */
    border-radius: 1.5rem; /* Redondear las esquinas */
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Transición de escala en el hover */
    aspect-ratio: 1 / 1;
    grid-column: span 1 / span 1;
  }
  
  .container:hover {
    transform: scale(1.03); /* Escala en el hover */
  }
  