.container {
    grid-column: span 2 / span 2;
    height: 100%;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.containerMusic {
    height: 100%;
    border-radius: 1.5rem;
}

.player {
    border-radius: 1.5rem !important;
    /* height: 86%; */
    /* min-height: 152px; */
    min-height: 234px;
}

@media(max-width: 1023px) {
    .player {
        min-height: 154px;
    }
}
@media(max-width: 480px) {
    .player {
        min-height: -webkit-fill-available;
    }
}