.main {
  padding: 1.5rem;
  justify-content: space-between;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  margin: 1.25rem;
}

.containerCards {
  display: flex;
  flex-direction: column;
  /* margin: 1.25rem; */
}

.containerCards {
  display: grid;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .containerCards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media (min-width: 1280px) {
  .containerCards {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 768px) {
  .containerCards {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .containerCards {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .containerCards {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .containerCards {
    max-width: 1536px;
  }
}